
/* img {
    height: 150px;
    width: 100px;
  } */
html {
  width: fit-content;
  padding-left: 0px;
  text-align: center;
}

img.me {
  height: 300px;
  width: auto;
  border-radius: 50%;
}

.navArea {
  background-image: linear-gradient(to top,#A8DADC, white);
}

.aboutMeArea {
  background-image: linear-gradient(to bottom,#EAE2B7, white);
}

.content {
  background-image: linear-gradient(to top, #EAE2B7, white, #A8DADC);
}

.icons {
  height: 50px;
}

.projectImage {
  width: 80%;
}

.aboutImages {
  width: 8em;
}

.bioLinks {
  height: 50px;
}
