img.me {
  height: 300px;
  width: auto;
  border-radius: 50%;
}

.navArea {
  background-image: linear-gradient(to top,#A8DADC, white);
}

.aboutMeArea {
  background-image: linear-gradient(to bottom,#EAE2B7, white);
}

.content {
  background-image: linear-gradient(to top, #EAE2B7, white, #A8DADC);
}

.icons {
  height: 50px;
}

.projectImage {
  width: 80%;
}

.aboutImages {
  float: left;
  width:  auto;
  height: 500px;
  object-fit: cover;
}

.imageTitle {
  color: #FEFAE0 !important
}

.bioLinks {
  height: 50px;
}

#slideshow { 
  margin: 50px auto; 
  position: relative; 
  width: 240px; 
  height: 240px; 
  padding: 10px; 
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
}